@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
    color: #edf0f1;
}

li, a, button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    width: 200px;
}

.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

/* showcase */

.hero-div {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 25px;
}

.hero-main p, button{
    margin: 20px;
    margin-left: 0;
}


/* cards */

.toppings-div {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 30px;
}

.toppings-info {
    margin: 0px auto;
}

.toppings-div .pizzas{
    display: flex;
    justify-content: space-around;
}

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}